.quadrado {
    margin: 0 auto;
    width: 250px;
    height: 400px;
    background-color: rgb(239, 240, 239);
    border-radius: 20px;
}

body {
    background-color: bisque;
}

#logo {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 1000px;
}

#avatar {
    margin: 0 auto;
    width: 170px;
    height: 200px;
    display: block;
    border-radius: 10px;
}

#nome {
    font-family: Arial, Helvetica, sans-serif;
    font: 10px;
    text-align: center;
}

#funcao {
    font-family: Arial, Helvetica, sans-serif;
    font: 10px;
    text-align: center;
}